.header {
  // color: $primary;
  background-color: $white-offset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .header{
    .container{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
