.image-home {
    height: 300px;

    .background-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .content{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;

        h2{
            font-size: 5rem;
            font-family: "Playfair Display", serif, -apple-system;
        }
    }
    .min-w-max {
        min-width: max-content;
    }
    .text-center {
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        height: 600px;
    }
    @include media-breakpoint-up(lg) {
        height: 800px;
    }
    @include media-breakpoint-up(xl) {
        height: 1200px;
    }

    @media screen and (max-width: 768px){

        .content{
            width: 100%;
            height: inherit;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 2rem;
    
            h2{
                font-size: 3rem;
                font-family: "Playfair Display", serif, -apple-system;
            }
        }
        
    }

    @media screen and (max-width: 425px){

        .content{
            width: 100%;
            height: inherit;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-right: 0;
    
            h2{
                font-size: 2rem;
                font-family: "Playfair Display", serif, -apple-system;
            }
        }
        
    }
}