.page-home {
    
    .divImage{
        margin-top: auto;
        height: 100vh;

        .background-image{
            background-image: url('https://i.imgur.com/4djWU86.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }

        .content{
            width: 100%;
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding-right: 2rem;
            padding-bottom: 5.1rem;

            h2{
                font-size: 5rem;
                font-family: $font-family-heading;
                color: $white-offset
            }
            h4{
                font-size: 4rem;
                font-family: $font-family-heading;
                color: $white-offset
            }
        }

        .min-w-max {
            min-width: max-content;
        }

        .text-center {
            text-align: center;
        }


        .contentPortada{
            padding: 2rem;
            text-align: center;
        }

    }

    

    .contentPortada, .contentListaBodas, .containerLugarCelebracion, .containerAsistencia {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 2rem 0 2rem 0;
        padding: 1rem 2rem 1rem 2rem;

        h2{
            font-family: $font-family-heading;
            font-size: 2.2rem;
            color: $secondary
        }

        p, li {
            font-family: $font-family-text;
            font-size: 1.2rem;
            color: $grey-text
        }

        p:first-child {
            margin-top: 1.5rem
        }

        li{
            list-style: none;
        }
    }

    .contentListaBodas{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-top: 2rem;
        grid-gap: 1rem;

        .listaText{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2{
                color: $grey-text
            }
        }

        .listaImage{
            height: 80vh;

            .background-image-lista{ 
                background-image: url('https://i.imgur.com/rf1HuQK.jpg');
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                // border-radius: 30px;
            }
        }
    }

    .containerLugarCelebracion{
        padding-top: 1rem;
        h2{
            margin-bottom: 2rem;
        }

        .containerMap{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-gap: 1rem;
            .map{
                display: flex;
                justify-content: center;
            }
            .pAndImage{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0 1rem 0 1rem;
                
                p{
                    justify-content: center;
                    align-self: center;
                }
                .imageChurch{
                    height: 10rem;
                    display: flex;
                    flex-direction: row;
                    .background-image-church{
                        background-image: url('https://i.imgur.com/nwiRIeU.jpg')
                    }
                    .background-image-castle{
                        background-image: url('https://i.imgur.com/ikcNS8I.jpg')
                    }
                    .background-image-church, .background-image-castle {
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }

    .containerAsistencia{
        p{
            padding: 0 5rem 0 5rem;
        }

        .contactForm{
            width: 100%;

            .form{
                width: 100%;
                // display: flex;
                // justify-content: center;
                // flex-direction: column;

                .inputLabel{
                    display: grid;
                    grid-template-columns: 25% 65%;
                    margin-top: 1rem;

                    label{
                        text-align: right;
                        margin: 0 0.5rem 0 0;
                        font-family: $font-family-text;
                        font-size: 1.2rem;
                        color: $grey-text
                    }

                    .input{
                        border-radius: 3px;
                        border: 2px solid $link-hover-color
                    }
                }
            }
        }
    }



    @media screen and (max-width: 768px){
        .divImage{
            .content{
                width: 100%;
                height: inherit;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 2rem;
                padding-bottom: 0;
    
                h2{
                    font-size: 3rem;
                }
                h4 {
                    font-size: 2rem;
                }
            }
        }
        .containerLugarCelebracion{
            .containerMap{
                display: flex;
                flex-direction: column-reverse;

                .pAndImage{
                    padding: 0;
                    .imageChurch{
                        margin-bottom: 1rem
                    }
                }
            }
        }
        .containerAsistencia{
            p{
                padding: 0;
            }
        }
        .contentPortada, .contentListaBodas, .containerLugarCelebracion, .containerAsistencia {
            p, li{
                text-align: justify;
            }
        }
    }


    @media screen and (max-width: 426px){
        .divImage{
            height: 50vh;
            .content{
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 1rem;
                h2{
                    font-size: 2rem;
                }
                h4 {
                    font-size: 1.5rem;
                }
            }
        }

        .contentListaBodas{
            display:flex;
            flex-direction:column;
        }
        .contentPortada, .contentListaBodas, .containerLugarCelebracion, .containerAsistencia {
            h2{
                font-size: 1.5rem;
            }
            p, li{
                font-size: 1rem;
            }
        }
        .containerAsistencia{
            .contactForm{
                .form{
                    .inputLabel{
                        display: flex;
                        flex-direction: column;
                        label{
                            text-align: left;
                            margin: 0 0 0 0.5rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 376px){
        .divImage{
            height: 45vh;
            .content{
                h2{
                    font-size: 1.7rem;
                }
                h4 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media screen and (max-width: 321px){
        .divImage{
            height: 38vh;
        }
    }

}
